body {
    background-color: #f1e2ff;
    font-family:'Krub', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../media/3DPhoto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    background-color: #ffffff00;
    position: fixed;
    top: 0;
    left: 0;
    width: 28%;
    color: #000000;
    padding: 10px;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.bannerHeader {
    font-size: 60px;
    font-weight: 40;
    text-align: left;
}

nav {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

li {
    list-style-type: none;
}

.navLinks {
    text-decoration: none;
    color: #c68cf3;
}

a {
    color: #c68cf3;
}

a :visited {
    color:#c68cf3;
}

#musicDescriptionContainer {
    display: flex;
    align-self: flex-start;
    margin-left: 100vh;
    padding: 10px;
    width: 75vh;
}

#musicDescription {
    font-size: 20px;
    background-color: #f1e2ff86;
    text-align: center;
    padding: 10px;
}

.musicSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleDescription {
    text-align: center;
}

#purpleSubstanceCover {
    width: 50%;
}

#gtophCover {
    width: 50%;
}

footer {
    margin: 10px;
    padding-bottom: 20px;
}
